html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 45px; }

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
    background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
    z-index: 0;
    opacity: 1;
    background-color:  #EBEFF0;
}

.title { font-size: 90px; }
.big {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.bold {
    font-weight: 800;
}
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap { margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link { text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    
    -webkit-transition: opacity 1.5s;
    -moz-transition:    opacity 1.5s;
    -ms-transition:     opacity 1.5s;
    -o-transition:      opacity 1.5s;
    transition:         opacity 1.5s;
    
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }


/* STEP SPECIFIC STYLES */
#title {
    width: 1240px;
    height: 600px;
    text-align: left;
    margin-left: 10px !important;
}
#title-text1 {
    font-size: 100px;
    margin: 50px 0 40px 0 !important;
}
#title-text2 {
    font-size: 170px;
    padding-left: 50px;
}
#title-text3 {
    font-size: 50px;
    margin-top: 30px;
    padding-left: 40%;
}

#users {

}

#users img{
    height: 103px;
    border-radius: 50%;
}

.user1 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.1s;
}
.user2 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.2s;
}
.user3 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.3s;
}
.user4 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.4s;
}
.user5 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.5s;
}
.user6 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.6s;
}
.user7 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.7s;
}
.user8 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.8s;
}
.user9 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.9s;
}
.user10 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.0s;
}
.user11 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.1s;
}
.user12 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.2s;
}
.user13 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.3s;
}
.user14 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.4s;
}
.user15 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.5s;
}
.user16 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.6s;
}
.user17 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.7s;
}
.user18 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.8s;
}
.user19 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.9s;
}
.user20 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.0s;
}
.user21 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.1s;
}
.user22 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.2s;
}
.user23 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.3s;
}
.user24 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.4s;
}
.user25 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.6s;
}
.user26 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.6s;
}
.user27 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.7s;
}
.user28 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.8s;
}
.user29 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.9s;
}
.user30 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.0s;
}
.user31 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.1s;
}
.user32 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.2s;
}
.user33 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.3s;
}
.user34 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.4s;
}
.user35 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.5s;
}
.user36 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.6s;
}
.user37 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.7s;
}
.user38 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.8s;
}


#ability span,
#ability0 span,
#ability1 span,
#ability2 span,
#ability3 span,
#ability4 span,
#ability5 span{
    margin: 70px 10px 30px 30px !important;
    line-height: 140%;
    font-size: 90px;
    color: #B7BABA;
}

.animates {
    color: #063E32!important;
}

#impassioned .left{
    margin: 0 0 50px -440px;
}

#impassioned span{
    font-size: 90px;
    color: #FF362B;
}

.photo{
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    margin: 10px;
}

#impassioned .photo1 {
    height: 370px;
    margin-top: 50px;
}

#impassionedImg2 .photo2 {
    height: 430px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: 10px;
    top: -200px;
    -ms-transform:rotate(-9deg); 
    -moz-transform:rotate(-9deg); 
    -webkit-transform:rotate(-9deg); 
    -o-transform:rotate(-9deg); 
    transform:rotate(-9deg);
}

#impassionedImg2 .photo3 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 440px;
    top: -100px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    -ms-transform:rotate(7deg); 
    -moz-transform:rotate(7deg); 
    -webkit-transform:rotate(7deg); 
    -o-transform:rotate(7deg); 
    transform:rotate(7deg);
}

#talktive .left {
    margin: 0 0 50px -440px;
}

#talktive span {
    font-size: 90px;
    color: #FF362B;
}

#talktive img {
    float: left;
    width: 530px;
    margin: 25px 0 0 -30px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#talktive .img1 {
    float: left;
    width: 415px;
    margin: 35px 0 0 60px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#rigor {
    margin-top: -150px;
}

#rigor .left {
    margin: 0 0 50px -440px;
}

#rigor span {
    font-size: 90px;
    color: #FF362B;
}

#rigor .photo1 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: 40px;
    top: 170px;
}

#rigor-img1 {
    margin-top: 50px;
}
#rigor-img1 .photo2 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: -80px;
    top: -286px;
}

#rigor-img1 .photo3 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 470px;
    top: -300px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#rigor-img1 .rigor {
    margin: 120px 0 0 0;
    color: #FF362B;
}

#rigor-img1 span {
    text-transform: none;
}

#creatively {
    margin-top: -195px;
}

#creatively .left {
    margin: 0 0 50px -440px;
}

#creatively span {
    font-size: 90px;
    color: #FF362B;
}

#creatively .photo1 {
    height: 340px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 470px;
    top: 170px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#creatively .photo2 {
    height: 240px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 70px;
    top: 244px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigor {
    margin-top: -50px;
}

#vigor .left {
    margin: 0 0 50px -440px;
}

#vigor span {
    font-size: 90px;
    color: #FF362B;
}

#vigor .photo1 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    margin-top: 30px;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigor .photo2 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigorSubitem1{
    margin-top: -50px;
}

#vigorSubitem1 .subTitle {
    color: #8CC8BD;
    margin-top: -150px;
}

#vigorSubitem2 .subTitle {
    color: #8CC8BD;
}

#vigorSubitem1 .photo3 {
    position: absolute;
    left: 1px;
    top: -50px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigorSubitem1 .photo4 {
    position: absolute;
    left: 500px;
    top: -50px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigorImg{
    margin-top: 60px;
}

#vigorImg img{
    height : 385px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#care {
    margin-top: -50px;
}

#care .left {
    margin: 0 0 50px -440px;
}

#care span {
    font-size: 90px;
    color: #FF362B;
}

#careSubitem1,
#careSubitem2 {
    margin-top: -50px;
}

#careSubitem1 .subTitle {
    color: #8CC8BD;
    margin-top: -150px;

}

#careSubitem2 .subTitle {
    color: #8CC8BD;
    margin-top: -150px;
}

#careImg{
    margin-top: 60px;
}

#careImg img{
    height : 320px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    margin: 10px 3px;
}

#careImg .photo1 {
    position: absolute;
    left: -70px;
    top: -80px;
}

#careImg .photo2 {
    height: 310px;
    position: absolute;
    left: 280px;
    top: -20px;
}

#careImg .photo3 {
    position: absolute;
    left: 590px;
    top: -85px;
}

#careImg .photo4 {
    position: absolute;
    left: -70px;
    top: -80px;
}

#careImg .photo5 {
    height: 310px;
    position: absolute;
    left: 240px;
    top: -50px;
}

#careImg .photo6 {
    position: absolute;
    left: 680px;
    top: -85px;
}

#care .photo7 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#care .photo8 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#whatWeAre,
#WeAre {
    font-size: 150px;
    color: #607473;
}

#whatWeAre span{
    font-size: 160px;
    color: #FF362B;
}

#WeAre span {
    color: #D0B679;
}