html { overflow: hidden; }
body { font-family: 'PT Serif', georgia, serif; line-height: .8; font-size: 40px; }

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
    background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
    z-index: 0;
    opacity: 1;
    background-color:  #EBEFF0;
}

.title { font-size: 90px; }
.big {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.bold {
    font-weight: 800;
}
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap { margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link { text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    
    -webkit-transition: opacity 1.5s;
    -moz-transition:    opacity 1.5s;
    -ms-transition:     opacity 1.5s;
    -o-transition:      opacity 1.5s;
    transition:         opacity 1.5s;
    
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }


/* STEP SPECIFIC STYLES */
#title {
    width: 1240px;
    height: 600px;
    text-align: left;
    margin: 600px 0 0 10px;
}
#title-text1 {
    font-size: 80px;
    margin: 50px 0 40px 0 !important;
}
#title-text2 {
    font-size: 170px;
    padding-left: 50px;
}
#title-text2 span {
    color: #FF362B;
}
#title-text3 {
    font-size: 60px;
    margin: 100px 0 0 0;
    padding-left: 40%;
}

#users {
    background: #FFF transparent;
}

#users img{
    height: 90px;
    border-radius: 50%;
}

.weAre {
    display: inline-block;
    margin: 30px 0;
}

#ability h3 {
    font-size: 80px;
    color: #4591DF;
}
#ability span,
#ability0 span,
#ability1 span,
#ability2 span,
#ability3 span,
#ability4 span,
#ability5 span{
    margin: 50px 135px 30px 30px !important;
    font-size: 55px;
    line-height: 140%;
    color: black;
}

.animates {
    color: #4591DF !important;
}

#impassioned .left{
    margin: 0 0 50px -440px;
}

#impassioned span{
    font-size: 70px;
    color: #205081;
}

#impassioned .weAre1{
    margin-left: 35%;
}

#impassioned .weAre2{
    margin-left: 50%;
}

.photo{
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    margin: 10px;
}

#impassioned .photo1 {
    height: 350px;
    margin-top: 50px;
}

#impassionedImg2 .photo2 {
    height: 430px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: 10px;
    top: -230px;
    -ms-transform:rotate(-9deg); 
    -moz-transform:rotate(-9deg); 
    -webkit-transform:rotate(-9deg); 
    -o-transform:rotate(-9deg); 
    transform:rotate(-9deg);
}

#impassionedImg2 .photo3 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 440px;
    top: -100px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    -ms-transform:rotate(7deg); 
    -moz-transform:rotate(7deg); 
    -webkit-transform:rotate(7deg); 
    -o-transform:rotate(7deg); 
    transform:rotate(7deg);
}

#impassionedImg2 .weAre3 {
    margin: -250px 0 0 410px;
}

#talktive .left {
    margin: 0 0 50px -440px;
}

#talktive .weAre1{
    margin-left: 20%;
}

#talktive .weAre2{
    margin-left: 45%;
}

#talktive span {
    font-size: 70px;
    color: #205081;
}

#talktive img {
    float: left;
    width: 500px;
    margin: 25px 0 0 0;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#talktive .img1 {
    float: left;
    width: 400px;
    margin: 35px 0 0 20px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#rigor {
    margin-top: -170px;
}

#rigor .left {
    margin: 0 0 50px -440px;
}

#rigor span {
    font-size: 70px;
    color: #205081;
}

#rigor .weAre1{
    margin-left: 20%;
}

#rigor .weAre2{
    margin-left: 45%;
}

#rigor .photo1 {
    height: 320px;
    margin-top: 80px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: 150px;
    top: 120px;
}

#rigor-img1 {
    margin-top: 50px;
}
#rigor-img1 .photo2 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: -80px;
    top: -286px;
}

#rigor-img1 .photo3 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 470px;
    top: -300px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#rigor-img1 .rigor {
    margin: 120px 0 0 0;
    color: #205081;
}

#rigor-img1 span {
    text-transform: none;
}

#creatively {
    margin-top: -195px;
}

#creatively .left {
    margin: 0 0 50px -440px;
}

#creatively span {
    font-size: 70px;
    color: #205081;
}

#creatively .weAre1{
    margin-left: 30%;
}

#creatively .weAre2{
    margin-left: 54%;
}

#creatively .photo1 {
    height: 345px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 35px;
    top: 140px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#creatively .photo2 {
    height: 240px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 500px;
    top: 210px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#creatively-img1 .photo3 {
    height: 500px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigor {
    margin-top: -30px;
}

#vigor .left {
    margin: 0 0 50px -440px;
}

#vigor span {
    font-size: 70px;
    color: #205081;
}

#vigor .photo1 {
    height: 360px;
    background-color: #fff;
    border: 1px solid #999;
    margin-top: 50px;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigor .photo2 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigorSubitem1{
    margin-top: -50px;
}

#vigorSubitem1 .subTitle {
    color: black;
    margin-top: -170px;
}

#vigorSubitem1 span {
    margin: 30px 0 0 250px;
}

#vigorSubitem1 .photo3 {
    position: absolute;
    left: 1px;
    top: -50px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigorSubitem1 .photo4 {
    position: absolute;
    left: 500px;
    top: -50px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigorImg{
    margin-top: 60px;
}

#vigorImg img{
    height : 385px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#care {
    margin-top: -50px;
}

#care .left {
    margin: 0 0 50px -440px;
}

#care span {
    font-size: 70px;
    color: #205081;
}

#careSubitem1,
#careSubitem2 {
    margin-top: -50px;
}

#careSubitem1 .subTitle{
    margin: -200px 0 28px 0;
    color: black;
}

#careSubitem1 span,
#careSubitem1 span {
    margin: 30px 0 0 250px;
}

#careSubitem2 .subTitle {
    margin: -200px 0 28px -260px;
    color: black;
}

#careImg{
    margin-top: 60px;
}

#careImg img{
    height : 320px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    margin: 10px 3px;
}

#careImg .photo1 {
    position: absolute;
    left: -70px;
    top: -80px;
}

#careImg .photo2 {
    height: 310px;
    position: absolute;
    left: 280px;
    top: -20px;
}

#careImg .photo3 {
    position: absolute;
    left: 590px;
    top: -85px;
}

#careImg .photo4 {
    position: absolute;
    left: -70px;
    top: -80px;
}

#careImg .photo5 {
    height: 310px;
    position: absolute;
    left: 240px;
    top: -50px;
}

#careImg .photo6 {
    position: absolute;
    left: 680px;
    top: -85px;
}

#care .photo7 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#care .photo8 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#whatWeAre {
    font-size: 145px;
}

#whatWeAre span {
    float: left;
    font-size: 70px;
    margin: -85px 0 0 90px;
}

#WeAre {
    font-size: 110px;
    color: #396099;
}