html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 45px; }

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
    background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
    z-index: 0;
    opacity: 1;
    background-color:  #EBEFF0;
}

.title { font-size: 90px; }
.big {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.bold {
    font-weight: 800;
}
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap { margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link { text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    
    -webkit-transition: opacity 1.5s;
    -moz-transition:    opacity 1.5s;
    -ms-transition:     opacity 1.5s;
    -o-transition:      opacity 1.5s;
    transition:         opacity 1.5s;
    
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }


/* STEP SPECIFIC STYLES */
#title {
    width: 1240px;
    height: 600px;
    text-align: left;
    margin-left: 10px !important;
}
#title-text1 {
    font-size: 100px;
    margin: 50px 0 40px 0 !important;
}
#title-text2 {
    font-size: 170px;
    padding-left: 50px;
}
#title-text3 {
    font-size: 50px;
    margin-top: 30px;
    padding-left: 40%;
}

#users {

}

#users img{
    height: 103px;
    border-radius: 50%;
}

.user1 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.1s;
}
.user2 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.2s;
}
.user3 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.3s;
}
.user4 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.4s;
}
.user5 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.5s;
}
.user6 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.6s;
}
.user7 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.7s;
}
.user8 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.8s;
}
.user9 {
    animation-delay: 0.5;
    -webkit-animation-delay: 0.9s;
}
.user10 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.0s;
}
.user11 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.1s;
}
.user12 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.2s;
}
.user13 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.3s;
}
.user14 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.4s;
}
.user15 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.5s;
}
.user16 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.6s;
}
.user17 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.7s;
}
.user18 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.8s;
}
.user19 {
    animation-delay: 0.5;
    -webkit-animation-delay: 1.9s;
}
.user20 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.0s;
}
.user21 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.1s;
}
.user22 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.2s;
}
.user23 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.3s;
}
.user24 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.4s;
}
.user25 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.6s;
}
.user26 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.6s;
}
.user27 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.7s;
}
.user28 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.8s;
}
.user29 {
    animation-delay: 0.5;
    -webkit-animation-delay: 2.9s;
}
.user30 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.0s;
}
.user31 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.1s;
}
.user32 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.2s;
}
.user33 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.3s;
}
.user34 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.4s;
}
.user35 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.5s;
}
.user36 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.6s;
}
.user37 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.7s;
}
.user38 {
    animation-delay: 0.5;
    -webkit-animation-delay: 3.8s;
}


#ability span,
#ability0 span,
#ability1 span,
#ability2 span,
#ability3 span,
#ability4 span{
    margin: 70px 10px 30px 30px !important;
    line-height: 140%;
    font-size: 90px;
}

.animates {
    color: #FC6A6F;
}

#impassioned .left{
    margin: 0 0 50px -440px;
}

#impassioned span{
    font-size: 90px;
    color: #FF362B;
}

.photo{
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    margin: 10px;
}

#impassioned .photo1 {
    height: 370px;
    margin-top: 50px;
}

#impassionedImg2 .photo2 {
    height: 430px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: 10px;
    top: -200px;
    -ms-transform:rotate(-9deg); 
    -moz-transform:rotate(-9deg); 
    -webkit-transform:rotate(-9deg); 
    -o-transform:rotate(-9deg); 
    transform:rotate(-9deg);
}

#impassionedImg2 .photo3 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 440px;
    top: -100px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    -ms-transform:rotate(7deg); 
    -moz-transform:rotate(7deg); 
    -webkit-transform:rotate(7deg); 
    -o-transform:rotate(7deg); 
    transform:rotate(7deg);
}

#talktive .left {
    margin: 0 0 50px -440px;
}

#talktive span {
    font-size: 90px;
    color: #FF362B;
}

#talktive img {
    float: left;
    width: 530px;
    margin: 25px 0 0 -30px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#talktive .img1 {
    float: left;
    width: 415px;
    margin: 35px 0 0 60px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#rigor {
    margin-top: -150px;
}

#rigor .left {
    margin: 0 0 50px -440px;
}

#rigor span {
    font-size: 90px;
    color: #FF362B;
}

#rigor .photo1 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: 40px;
    top: 170px;
}

#rigor-img1 {
    margin-top: 50px;
}
#rigor-img1 .photo2 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: -80px;
    top: -286px;
}

#rigor-img1 .photo3 {
    height: 350px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 470px;
    top: -300px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#rigor-img1 .rigor {
    margin: 120px 0 0 0;
    color: #FF362B;
}

#rigor-img1 span {
    text-transform: none;
}

#creatively {
    margin-top: -195px;
}

#creatively .left {
    margin: 0 0 50px -440px;
}

#creatively span {
    font-size: 90px;
    color: #FF362B;
}

#creatively .photo1 {
    height: 340px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 470px;
    top: 170px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#creatively .photo2 {
    height: 240px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 70px;
    top: 244px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigor {
    margin-top: -50px;
}

#vigor .left {
    margin: 0 0 50px -440px;
}

#vigor span {
    font-size: 90px;
    color: #FF362B;
}

#vigor .photo1 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigor .photo2 {
    height: 250px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigorSubitem1{
    margin-top: -50px;
}

#vigorSubitem1 .subTitle {
    color: #8CC8BD;
    margin-top: -150px;

}

#vigorSubitem2 .subTitle {
    color: #8CC8BD;
}

#vigorSubitem1 .photo3 {
    position: absolute;
    left: 1px;
    top: -50px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#vigorSubitem1 .photo4 {
    position: absolute;
    left: 500px;
    top: -50px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}



























#respond-text1 { font-size: 34px; }
#respond-text2 { font-size: 135px; }
#respond-text3 { font-size: 46px; }


#ar-adaptive { font-size: 192px; }
#ar-adaptive-fixed { font-size: 54px; }
#ar-responsive { font-size: 153px; }
#ar-responsive-fluid { font-size: 57px; }

#combo-text { font-size: 150px; }
#combo-or { position: relative; left: -20px; }
#combo-fluid-fixed div { float: left; text-align: center; }
#combo-plus { width: 10%; font-size: 100px; }
#combo-fixed, #combo-fluid { width: 45%; }
#combo-fluid-fixed div .bold { font-size: 63px; width: 100%; }
#combo-fluid-fixed div .light { font-size: 50px; width: 100%; }
#combo-fluid .light { letter-spacing: 3px; }

/*#growth-sml { letter-spacing: 19px; font-size: 37px; position: relative; left: 10px; }
#growth-one-site { font-size: 200px; }
#growth-every { font-size: 94px; }*/

/*#ability-real { width : 1020px; }
#ability-real-not { font-size: 78px; padding-bottom: 40px; position: relative; left: 3px; }
#ability-bg { font-size: 91px; }
#ability-bg-desc { font-size: 36px; padding-top: 10px; }
#ability-obama { font-size: 102px; }
#ability-obama-desc { font-size: 20px; padding-top: 10px; }
#ability-greygoose { font-size: 88px; }
#ability-greygoose-desc { font-size: 25px; padding-top: 10px; margin-left: 8px; }
#ability-cac { font-size: 80px; }
#ability-cac-desc { font-size: 35px; padding-top: 10px; }
#ability-more { font-size: 90px; }
#ability-more a { font-size: 60px; }*/

#culture-text, #culture-img1, #culture-img2 { position: relative; padding: 0; }
#culture-text { left: 20px; font-size: 124px; }
#culture-text div {
    margin-bottom: 10px;
}
#culture-img1 { left: 10px; font-size: 93px; letter-spacing: 0; }
#culture-img2 { font-size: 120px; }

#focus-quote blockquote { text-align: center; font-size: 70px; line-height: 1.2; }
#focus-frameworks-text { font-size: 129px; line-height: .9; }
#focus-frameworks span { font-weight: 800; font-size: 45px; display: block; }
#focus-savetime { position: relative; left: 20px; letter-spacing: 40px; font-size: 83px; }
#focus-rolltextyourown { font-size: 103px; }
#focus-control { position: relative; left: 12px; letter-spacing: 20px; font-size: 68px; }
#focus-text1 {
    font-size: 137px;
}
#focus-text2 {
    font-size: 147px;

}




#focusimg3 {
    position: absolute;
    left: -50px;
    top: -200px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#focusimg4 {
    position: absolute;
    left: 550px;
    top: -150px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

.adj-j { font-size: 88%; position: relative; top: -10px; }

.where-step { width: 3700px; }
.where-step .extralight { line-height: .9; }
#where { position: relative; left: -40px; letter-spacing: -10px; }

#where-leaders { font-size: 238px; }
#where-leader-em { font-size: 99px; }
#where-leader-lw { font-size: 91px; letter-spacing: 10px; }
#where-leader-sj { font-size: 108px; letter-spacing: 42px; position: relative; left: 15px; }
#where-leader-cc { font-size: 95px; letter-spacing: 32px; position: relative; left: 10px; }
#where-leader-jk { font-size: 102px; letter-spacing: 28px; position: relative; left: 20px; }

#where-learn { font-size: 230px; }
#where-learn-t { font-size: 143px; }
#where-learn-ala { font-size: 127px; }
#where-learn-tp { font-size: 88px; }
#where-learn-rn { font-size: 89px; }

#where-cool-title { font-size: 160px; }
#where-cool-b { font-size: 120px; letter-spacing: 30px; position: relative; left: 10px; }
#where-cool-g { font-size: 114px; letter-spacing: 25px; position: relative; left: 10px; }
#where-cool-f { font-size: 109px; letter-spacing: 25px; position: relative; left: 10px; }
#where-cool-s { font-size: 131px; letter-spacing: 41px; position: relative; left: 18px; }
#where-cool-r { font-size: 120px; letter-spacing: 20px; position: relative; left: 10px; }
#where-cool-title2 { font-size: 108px; letter-spacing: -3px; position: relative; left: -5px; }
#where-cool-fit { font-size: 110px; position: relative; left: 5px; }
#where-cool-fi { font-size: 124px; letter-spacing: 11px; }
#where-cool-bp { font-size: 108px; }
#where-cool-sz { font-size: 65px; }
#where-cool-more a { font-size: 30px; font-style: italic; position: relative; top: -10px; }

#credits { width: 1200px; padding: 0; }
#credits .big { font-size: 150px; }
#credits p { font-style: italic; font-size: 30px; margin: 24px; padding: 0; color: #666; }
#credits p.first { margin-bottom: 45px; font-size: 40px; }
#credits a { font-style: italic; font-weight: bold; text-decoration: underline; }

#title-text1 span, #title-text2 span{
    color: #FF362B;
}

#tech_logo img{
    height : 110px;
    margin : 15px 10px 0 0;
    border-radius : 50%;
}


#businessArea img {
    border-radius: 20px;
    margin: 125px 0 0 0;
}

#businessAreas1 {
    height: 400px;
    position: absolute;
    left: -100px;
    top: -100px;
}

#businessAreas2 {
    height: 400px;
    position: absolute;
    float: right;
    top: -100px;
    left: 450px;
}
#businessAreaContent {
    font-size: 78px;
    margin-top: 500px;
}

#adaptive-responsive ul {
    list-style: none;
}

#adaptive-responsive ul li {
    display: inline-block;
    color: #4183c4;
}

#growup{
    float: left;
    margin: 0 30px 0 -55px;
}

#open{
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#growup_begin{
    margin-top: 65px;
}

#growup_begin1{
    margin-top: 45px;
    font-size: 92px;
}
#growup_begin2{
    margin-top: 45px;
    font-size: 96px;
}
#growup_begin3{
    margin-top: 45px;
    font-size: 90px;
}
/*
#user {
    margin-top: 30px;
}*/


/*#grownow1 {
    margin-top: -10px;
    font-size: 65px;
}
#grownow2{
    font-size: 65px;
}
*/
#open2{
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    left: -140px;
    top: -200px;
    -ms-transform:rotate(-8deg); 
    -moz-transform:rotate(-8deg); 
    -webkit-transform:rotate(-8deg); 
    -o-transform:rotate(-8deg); 
    transform:rotate(-8deg);
}

#open3{
    position: absolute;
    background-color: #fff;
    border: 1px solid #999;
    padding: 5px;
    left: 440px;
    top: -100px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
    -ms-transform:rotate(5deg); 
    -moz-transform:rotate(5deg); 
    -webkit-transform:rotate(5deg); 
    -o-transform:rotate(5deg); 
    transform:rotate(5deg);
}





.culture {
    font-size: 100px;
    margin-bottom: 40px;
    letter-spacing: .1em;
}

#communication {
    width: 500px;
    text-align: center;
    margin-left: -200px;
}

#communication .subTitle {
    font-size: 150px !important;
}

#communication .desc {
    margin-top: 80px;
}

#communication-text {
    font-size: 137px;
}

#communication-text div {
    margin-top: -50px;
}

#communication-text .right {
    right: 60px;
    margin: 28px 0 0 500px;
}

#communication-text img {
    float: left;
    width: 550px;
    margin: -90px 0 0 -30px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#communication-text .img1 {
    float: left;
    width: 350px;
    margin: 35px 0 0 60px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#communication-content img,
#communicationImg1 img,
#communicationImg2 img {
    height : 300px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#careSubitem1 .text,
#careSubitem2 .text,
#vigorSubitem1 .text {
    font-size: 137px !important;
    margin-top: -230px;
}

#vigorSubitem2 .text {
    font-size: 137px !important;

}

#careSubitem2 .careBroSis1 {
    position: absolute;
    left: -50px;
    top: -20px;
}

#careSubitem2 .careBroSis2 {
    position: absolute;
    left: 250px;
    top: 20px;
}

#careSubitem2 .careBroSis3 {
    position: absolute;
    left: 688px;
    top: -5px;
}

#careSubitem2 .careBroSis4 {
    position: absolute;
    left: 130px;
    top: 30px;
}

#careImg {
    margin-top: 60px;
}

#careImg img {
    height : 300px;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#careImg .family1 {
    position: absolute;
    left: -130px;
    top: -50px;
}

#careImg .family2 {
    position: absolute;
    left: 330px;
    top: 20px;
}

#careImg .family3 {
    position: absolute;
    left: 650px;
    top: -20px;
}



#prospect img {
    width: 400px;
    border: 1px solid #999;
    margin-top: 40px;
    padding: 5px;
    border-radius: 15px;
    box-shadow:3px 3px 5px #aaaaaa;
}

#prospect .subTitleText {
    font-size: 100px !important;
}

#prospect .space {
    margin-top: 15px;
}